<nav class="flex-column nav-scrollable">
    <div class="top-row px-4">
        <a class="navbar-brand" href="">ApplicantJourney</a>
        <input type="checkbox" class="navbar-toggler" />
    </div>

    <ul class="nav flex-column px-3">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> About
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Login
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="register">
                <span class="bi bi-person-plus-fill-nav-menu" aria-hidden="true"></span> Register
            </NavLink>
        </li>
    </ul>
</nav>

@code {
    [Inject]
    private NavigationManager NavigationManager { get; set; } = null!;

    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.Uri;
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, Microsoft.AspNetCore.Components.Routing.LocationChangedEventArgs e)
    {
        currentUrl = e.Location;
        StateHasChanged();
    }

    private string GetRelativePath(string url)
    {
        return NavigationManager.ToBaseRelativePath(url);
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

}