@page "/"

<PageTitle>Home</PageTitle>

<style>
    .centered-text {
        text-align: center;
        color: darkblue;
    }

    .bold-part {
        font-weight: bold;
    }
</style>

<h1 class="centered-text">
    Welcome to <span class="bold-part">Applicant Journey</span>.
</h1>
<h3 class="centered-text">
    This system helps you track job postings, monitor your applications status, and optimize resumes.
</h3>